<div class="welcome-screen">

<div class="row">
    <div class=" col-xs-12 text-center title">Welcome to Score Keeper. What would you like to do today?</div>
</div>

<div class="row sub-title">
    <div class="col-xs-6 text-right">I want to:</div>
    <!-- Split button -->
    <div class="btn-group" uib-dropdown>
        <button id="split-button" type="button" class="btn btn-default">Please select...</button>
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
            <li role="menuitem"><a ui-sref="new-game">Start a new Game</a></li>
            <li role="menuitem"><a href="#">View Historic Data</a></li>
        </ul>
    </div>

</div>
</div>

