/*-----colors section--------*/
/*-----margin section--------*/
/*--------fonts section --------*/
.col-xs-12-5 {
  width: 12.5%;
  float: left;
}
@media (min-width: 768px) {
  .col-xs-12-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 12.5%;
  }
}
@media (min-width: 992px) {
  .col-xs-12-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 12.5%;
  }
}
@media (min-width: 1200px) {
  .col-xs-12-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 12.5%;
  }
}
.title {
  color: #64b4cf;
  font-size: 24pt;
}
.small-top-margin {
  margin-top: 20px;
}
.large-bottom-margin {
  margin-bottom: 20px;
}
.error {
  color: #dd2c00;
  font-weight: 500;
}
.welcome-screen {
  margin: 50px;
}
.welcome-screen .sub-title {
  font-size: 18pt;
  color: #64b4cf;
  margin-top: 50px;
}
.new-game {
  margin: 50px;
}
.new-game .contestant-names {
  font-weight: 800;
  color: #64b4cf;
}
.new-game .contestant-name-label {
  font-size: 10pt;
  color: #f4a816;
}
.new-game .contestant-names-label-container {
  margin-top: 20px;
}
.new-game .time {
  color: #64b4cf;
  font-size: 18pt;
}
.new-game .time-value {
  color: #f4a816;
  font-size: 18pt;
}
